<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v6.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
   <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../home-page">Home</a></li>
     <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../lists-dashboard">Lists management</a></li>
       <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="pharmacy-list">Select month/year</a></li>
       <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="pharmacy-list-whole">Pharmacy list for April to June 2025</a></li>
       <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="generate-sample">Generate sample</a></li>
       <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="25-generate-sample-may">Pharmacies for May 2025</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Home
    </a>
  </p>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


      
      <!-- Change the page title here -->
     
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">Details of Anchor Health Pharmacy</h1>

        <a href="pharmacy-details-edit" <a href="pharmacy-details-edit" class="nhsuk-button nhsuk-button--secondary" >Edit details</a>
        
        <br>
        <br>

       <dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      ODS code
    </dt>
    <dd class="nhsuk-summary-list__value">
      YG323
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      DHID No
    </dt>
    <dd class="nhsuk-summary-list__value">
     9017
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Pharmacy name
    </dt>
    <dd class="nhsuk-summary-list__value">
      Anchor Health Pharmacy
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Contact name
    </dt>
    <dd class="nhsuk-summary-list__value">
      Karen Johnson
    </dd>
  </div>
   <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Contact number
    </dt>
    <dd class="nhsuk-summary-list__value">
      07263549825
    </dd>
  </div>
   <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Email address
    </dt>
    <dd class="nhsuk-summary-list__value">
      k.Johnson@aaapharmacy.co.uk
    </dd>
  </div>
   <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Address
    </dt>
    <dd class="nhsuk-summary-list__value">
      39-41 Porchester Road, Newcastle, NA13 4FG
    </dd>
  </div>
   <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Opening hours
    </dt>
    <dd class="nhsuk-summary-list__value">
     9am - 5pm
    </dd>
  </div>
</dl>

<br>
<h2 class="nhsuk-heading-m">Shipment details</h2>

<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Collection date
    </dt>
    <dd class="nhsuk-summary-list__value">
      13 June 2025
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
   TNT Shipment number
    </dt>
    <dd class="nhsuk-summary-list__value">
      FHV123497785GH
    </dd>
  </div>
</dl>

<br>
<h2 class="nhsuk-heading-m">Other details</h2>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="status">
    Status
  </label> <select class="nhsuk-select" id="status" name="status">

    <option value="Blank"></option>
    <option value="Letter sent"selected>Letter sent</option>
    <option value="Confirm participation" >Confirm participation</option>
    <option value="To arrange collection" >To arrange collection</option>
     <option value="Collection arranged" >Collection arranged</option>
    <option value="Invoices on site" >Invoices on site</option>
     <option value="Invoices received and returned" >Invoices received and returned</option>
     <option value="Not participating" >Not participating</option>
  </select>


  <a href="pharmacy-details-confirm-status" class="nhsuk-button" style="margin-top:-8px ;">Update status</a>
</div>

<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
   Date invoices arrived
    </dt>
    <dd class="nhsuk-summary-list__value">
     10 June 2025
    </dd>
  </div>
   <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
   Date invoices returned
    </dt>
    <dd class="nhsuk-summary-list__value">
     15 June 2025
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
   Ongoing
    </dt>
    <dd class="nhsuk-summary-list__value">
     Dianna Green
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
   Checked
    </dt>
    <dd class="nhsuk-summary-list__value">
     Lee Jones
    </dd>
  </div>
</dl>

<br>

<!--
<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Stages
    </span>
  </summary>
  <div class="nhsuk-details__text">

   <p class="nhsuk-body">
                              <i>09 June 2025 13:52:43 Updated by Diana Green</i>
                            <br>
                              <b>Confirm receipt of letter</b> </p>
                              <hr>
                               <i>08 June 2025 10:12:03 Updated by Diana Green</i>
                            <br>
                              <b>Sent first letter</b> </p>
  </div>
</details>

<br>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Comments
  </label>
  <div class="nhsuk-hint" id="example-hint">
   Provide more details in the box if needed.
  </div> <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
</div>
       -->

       

       







     <!-- End of content -->

    </div>
  </div>
{% endblock %}
