<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v6.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
 
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../home-page">Home</a></li>
     <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../lists-dashboard">Lists management</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Home
    </a>
  </p>
</nav>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




<div class="nhsuk-grid-row">

  
<div class="nhsuk-grid-column-full">
  

      
      <!-- Change the page title here -->
<span class="nhsuk-caption-xl">Pharmacy list</span>
<h1 class="nhsuk-heading-xl">Monthly pharmacy list</h1>

        <h2 class="nhsuk-heading-m">Upload list</h2>

<p class="nhsuk-body">Confirm final sample for selected survey period</p>

<p class="nhsuk-body">List can be downloaded to your device as a csv files.</p>


 <a href="upload-list" class="nhsuk-button" > Upload list</a>

<br>
<br>

         <h2 class="nhsuk-heading-m">Previously uploaded list</h2>


        <table class="nhsuk-table">
           <caption class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal nhsuk-u-padding-bottom-2">
  This table shows all previously uploaded lists.
</caption>
        <thead class="nhsuk-table__head">
            <tr>
            <th scope="col" class="nhsuk-table__header">Month and year</th>
            <th scope="col" class="nhsuk-table__header">Sample size</th>
            <th scope="col" class="nhsuk-table__header">Date uploaded</th>
            <th scope="col" class="nhsuk-table__header">Uploaded by</th>
            <th scope="col" class="nhsuk-table__header">Confirmed list</th>
            <th scope="col" class="nhsuk-table__header">Actions</th>
            </tr>
        </thead>
           <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">June 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">25</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 June 2025 10:14</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Ross Geller</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">No</th>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="25-generate-sample">View</a>
            </td>
            </tr>
        </tbody>

        <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">May 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">25</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 May 2025 13:34</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Ross Geller</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">No</th>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="25-generate-sample-may">View</a>
            </td>
            </tr>
        </tbody>

           <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">April 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">25</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 April 2025 13:09</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Monica Johnson</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Yes</th>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="25-generate-sample-april">View</a>
            </td>
            </tr>
        </tbody>

        </table>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
