// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

@import 'accessible-autocomplete.min.css';

@import 'components/timeout';


///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
 
.tableFixHead {  
    // width: 100%;
    // overflow-x: scroll;
}

.tableFixHead thead th { 
  position: sticky; 
  top: 0; 
  z-index: 1; 
  background-color: #EFF4F5; 
  max-width: 100%; 
}

.sticky-col {
  z-index: 9998 !important;
  position: sticky; 
  top: 0;
  background-color: #EFF4F5;
}

.first-col {
  width: 100px;
  min-width: 100px;
  max-width: 500px;
  left: 0px;
}

.second-col {
  width: 150px;
  min-width: 150px;
  max-width: 550px;
  left: 100px;
}

th.first-col,
th.second-col {
    z-index: 9999 !important;
}

.nhsuk-card.nhsuk-card--confirmation {
  background-color: #005EB8;
  text-align: center;
  color: white;
  padding: 20px;
  margin: 30px 0;
}

.nhsuk-card {
  margin-bottom: 40px;
  background: #ffffff;
  border: 1px solid #d8dde0;
  position: relative;
  width: 100%;
}

  /* Remove pink focus highlight */
 #Difference:focus {
    border: 4px solid #000000;  /* thick black border */
    box-shadow: none;            /* remove NHS pink glow */
  }
  