<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v8.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
 
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../home-page">Home</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../lists-dashboard">Select a list</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Home
    </a>
  </p>
</nav>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">


  <!-- Change the page title here -->
    <span class="nhsuk-caption-xl">Upload and manage drug lists</span>
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">Upload a drug list</h1>
      <p>Upload a list as a csv file</p>

      <!--div style="display: flex; gap: 1rem; align-items: flex-end; flex-wrap: wrap;">
                    <div>
                       <label class="nhsuk-label" for="year">
                            Year
                        </label>
                        <select class="nhsuk-select nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="text" inputmode="numeric">
                            <option value="Select">Select a year</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                    </div>
                    <div>
                         <label class="nhsuk-label" for="month">
                            Months
                        </label>
                        <select class="nhsuk-select nhsuk-date-input__input nhsuk-input--width-4" id="month" name="month" type="text" inputmode="numeric">
                            <option value="Select">Select a quarter</option>
                            <option value="01">January to March</option>
                            <option value="02">April to June</option>
                            <option value="03">July to September</option>
                             <option value="03">October to December</option>
                        </select>
                    </div>
                

        </div>
<br>
<br>
    

      <a href="drug-list" class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</a-->
      <a href="upload-list" class="nhsuk-button" data-module="nhsuk-button" type="submit">Go to Upload list</a>

<br>
<br>
      <h2 class="nhsuk-heading-m">All drug lists</h2>

        <table class="nhsuk-table">
           <caption class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal nhsuk-u-padding-bottom-2">
            <span class="nhsuk-u-visually-hidden">Download the drug list</span>
</caption>
        <thead class="nhsuk-table__head">
            <tr>
            <th scope="col" class="nhsuk-table__header">Month and year</th>
            <th scope="col" class="nhsuk-table__header">Date uploaded</th>
            <th scope="col" class="nhsuk-table__header">Uploaded by</th>
            <th scope="col" class="nhsuk-table__header">Action</th>
            </tr>
        </thead>
           <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">July 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 July 2025 10:14</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">John Smith</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="view-drug-list">View</a> | <a href="download-drug-list">Download</a>
            </td>
            </tr>
        </tbody>

        <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">June 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 June 2025 10:14</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Rose Geller</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="view-drug-list">View</a> | <a href="download-drug-list">Download</a>
            </td>
            </tr>
        </tbody>

           <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">May 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 May 2025 13:09</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Monica Johnson</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="">View</a> | <a href="download-drug-list">Download</a>
            </td>
            </tr>

            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">April 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 April 2025 13:09</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Robert Brown</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="">View</a> | <a href="download-drug-list">Download</a>
            </td>
            </tr>

            
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">March 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 March 2025 13:09</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Rose Geller</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="">View</a> | <a href="download-drug-list">Download</a>
            </td>
            </tr>

            
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">February 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 February 2025 13:09</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Robert Brown</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="">View</a> | <a href="download-drug-list">Download</a>
            </td>
            </tr>
            
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">January 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 January 2025 13:09</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Monica Johnson</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="">View</a> | <a href="download-drug-list">Download</a>
            </td>
            </tr>
            
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">December 2024</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 December 2024 13:09</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Rose Geller</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="">View</a> | <a href="download-drug-list">Download</a>
            </td>
            </tr>
            
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Novemeber 2024</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 Novemeber 2024 13:09</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Monica Johnson</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="">View</a> | <a href="download-drug-list">Download</a>
            </td>
            </tr>
            
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">October 2024</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">01 October 2024 13:09</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Rose Geller</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="">View</a> | <a href="download-drug-list">Download</a>
            </td>
            </tr>
        </tbody>
        </table>
<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">

  <ul class="nhsuk-list nhsuk-pagination__list">
   
    <li class="nhsuk-pagination-item--next">
      <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#" rel="next">
        <span class="nhsuk-pagination__title">
          Next<span class="nhsuk-u-visually-hidden"> page</span>
        </span>
        <span class="nhsuk-u-visually-hidden">:</span>
        <span class="nhsuk-pagination__page">Page 2</span>
        <svg class="nhsuk-icon nhsuk-icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
          <path d="m14.7 6.3 5 5c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3H5a1 1 0 0 1 0-2h11.6l-3.3-3.3a1 1 0 1 1 1.4-1.4Z" />
        </svg>
      </a>
    </li>
  </ul>
</nav>
      <!-- End of content -->

      </div>
  </div>
{% endblock %}
