<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v8.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

<br>
      
      <!-- Change the page title here -->
     
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">Details of AAA Pharmacy</h1>

        
     <div class="nhsuk-form-group">
  <label class="nhsuk-label" for="ODS code">
    ODS code
  </label> <input class="nhsuk-input nhsuk-input--width-10" id="ODS code" name="ODS code" type="text" value="YG323">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="DHID">
    DHID No
  </label> <input class="nhsuk-input nhsuk-input--width-10" id="DHID" name="DHID" type="text" value="9017">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="Pharmacy name">
    Pharmacy name
  </label> <input class="nhsuk-input nhsuk-input--width-20" id="Pharmacy name" name="Pharmacy name" type="text" value="AAA Pharmacy">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="Contact name">
    Contact name
  </label> <input class="nhsuk-input nhsuk-input--width-20" id="Contact name" name="Contact name" type="text" value="Karen Johnson">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="Contact number">
    Contact number
  </label> <input class="nhsuk-input nhsuk-input--width-20" id="Contact number" name="Contact number" type="text" value="07263549825">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="Email address">
    Email address
  </label> <input class="nhsuk-input nhsuk-input--width-20" id="Email address" name="Email address" type="text" value="k.Johnson@aaapharmacy.co.uk">
</div>



<div class="nhsuk-form-group">
  <div class="nhsuk-u-padding-bottom-4">
  <label class="nhsuk-label" for="Address-1">
   Address <span class="nhsuk-u-visually-hidden">Address line 1 of 2</span>
  </label> <input class="nhsuk-input nhsuk-input--width-20" id="Address-1" name="Address-1" type="text" value="39-41 Porchester Road">
  </div>
  <label class="nhsuk-label" for="Address-2">
    <span class="nhsuk-u-visually-hidden">Address line 2 of 2</span>
  <input class="nhsuk-input nhsuk-input--width-20" id="Address-2" name="Address-2" type="text" value="Newcastle, NA13 4FG">
</label></div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="Opening hours">
    Opening hours
  </label> <input class="nhsuk-input nhsuk-input--width-20" id="Opening hours" name="tOpening hours" type="text" value="9am - 5pm">
</div>

<br>


        <!-- Button to generate reports -->
        <a href="aaa-pharmacy-confirm" class="nhsuk-button" >Update information</a>







     <!-- End of content -->

    </div>
  </div>
{% endblock %}
