<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v8.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  {{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

<br>
      
      <!-- Change the page title here -->
     
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">Edit pharamcy details</h1>

        
     <div class="nhsuk-form-group">
  <label class="nhsuk-label" for="DHID">
    DHID
  </label> <input class="nhsuk-input nhsuk-input--width-10" id="ODS code" name="ODS code" type="text" value="4434">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for=" NHS England area">
    NHS England area
  </label> <input class="nhsuk-input nhsuk-u-width-two-thirds" id="NHS England area" name="Pharmacy name" type="text" value="NHS SURREY HEARTLANDS INTEGRATED CARE BOARD">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="DHID">
    NHS England area code
  </label> <input class="nhsuk-input nhsuk-input--width-10" id="NHS England area code" name="NHS England area code" type="text" value="QXU">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="DHID">
   Contractor code
  </label> <input class="nhsuk-input nhsuk-input--width-10" id="Contractor code" name="Contractor code" type="text" value="FW734">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="Pharmacy type">
   Type
  </label> <select class="nhsuk-select" id="Pharmacy type" name="Pharmacy type">
     <option value="Independent"selected>Independent</option>
    <option value="Chain">Chain</option>
  </select>
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="OU code">
   OU code
  </label> <input class="nhsuk-input nhsuk-input--width-10" id="OU code" name="OU code" type="text" value="42456">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="Pharmacy name">
    Trading name
  </label> <input class="nhsuk-input nhsuk-u-width-two-thirds" id="Pharmacy name" name="Pharmacy name" type="text" value="Anchor Health Pharmacy">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="Pharmacy name">
    Owner's name
  </label> <input class="nhsuk-input nhsuk-u-width-two-thirds" id="Pharmacy name" name="Pharmacy name" type="text" value="ARCHANA BIOLOGICS UK LIMITED">
</div>


<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="Address-1">
   Address <span class="nhsuk-u-visually-hidden">Address line 1 of 1</span>
  </label> <input class="nhsuk-input nhsuk-u-width-two-thirds" id="Address-1" name="Address" type="text" value="54 NURSERY ROAD, SUNBURY-ON-THAMES, NEWCASTLE">
  </div>


<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="DHID">
   Postcode
  </label> <input class="nhsuk-input nhsuk-input--width-10" id="DHID" name="DHID" type="text" value="NA13 4FG">
</div>


<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="Pharmacy type">
   Met/Other
  </label> <select class="nhsuk-select" id="Pharmacy type" name="Pharmacy type">
     <option value="Select an option">Select an option</option>
     <option value="Independent"selected>Met</option>
    <option value="Chain">Other</option>
  </select>
</div>


<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="DHID">
   Strate
  </label> <input class="nhsuk-input nhsuk-input--width-10" id="DHID" name="DHID" type="text" value="1">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="DHID">
   Row count
  </label> <input class="nhsuk-input nhsuk-input--width-10" id="DHID" name="DHID" type="text" value="19">
</div>

<div class="nhsuk-form-group">

  
      <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-date-input__label" for="month">
            Month
          </label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="text" inputmode="numeric" value="6">
        </div>
      </div>
      <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-date-input__label" for="year">
            Year
          </label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="text" inputmode="numeric" value="2025">
        </div>
      </div>
    </div>
  
    <br>
     <!-- End of content -->
 <a href="confirmation-update-pharamcy" class="nhsuk-button" >Update pharmacy</a>
 <a href="25-generate-sample" class="nhsuk-button nhsuk-button--secondary">Cancel</a>

    </div>
  </div>
{% endblock %}
