<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v5c.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../home-page">Home</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="select-month-year">Select month and year</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="menu">Margin survey dashboard</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="new">Pharmacy details</a></li>
    
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Home
    </a>
  </p>
</nav>

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <span class="nhsuk-caption-xl">January 2025 - Margin Survey</span>
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">Change the name of Altera Digital Health</h1>

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-6">
        <fieldset class="nhsuk-fieldset" aria-describedby="">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h2 class="nhsuk-heading-m">
                Are you sure you want to change the name of  'Altera Digital Health' to 'A Vogel'? All drugs associated with 'Altera Digital Health' will be merged with the drugs associated with 'A Vogel'.
            </h2>
            </legend>
            <div class="nhsuk-radios" data-module="nhsuk-radios">
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example" name="example" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example">
                Yes, I want to change the name of 'Altera Digital Health, to 'A Vogul'
                </label>
            </div>
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                No, I do no want to change the name of Altera Digital Health
                </label>
            </div>
            </div>
        </fieldset>
        </div>
                      
        <a href="confirmation-supplier-merge" class="nhsuk-button">Confirm</a> 
        <a href="continue" class="nhsuk-button nhsuk-button--secondary">Back to suppliers</a>


    </div>
     
  </div>

</div>


{% endblock %}
