<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
  }) }}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

    <br>
      
      <!-- Change the page title here -->
      <span class="nhsuk-caption-xl">January 2025 - Margin Survey</span>
      <h1 class="nhsuk-heading-xl">Add a drug to Altera Digital Health</h1>


      <!--search-->
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Search for a drug entry
          </span>
        </summary>
        <div class="nhsuk-details__text">
      
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="Search">
              Enter invoice and drug reference number to search for previously entered drugs.
            </label>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              For example Supplierinvoice.033
            </div>
            <div style="display: flex; align-items: center; gap: 10px;">
              <input class="nhsuk-input nhsuk-input--width-10" id="Search" name="Search" type="text" style="margin-bottom: 30px;">
              <a href="" style="display: flex; align-items: center; justify-content: center; margin-top: 2px;" class="nhsuk-button">Search</a> 
               </div>
          </div>
      
        </div>
      </details>

      <!--search-->

<br>

      <form id="myForm">
<h3 class="nhsuk-heading-s">Add drug details</h3>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="Conces/Cat C">
    Conces/Cat C
  </label>
  <select class="nhsuk-select" id="Conces/Cat C" name="Conces/Cat C" >
    <option value="1" selected>Cat C</option>
    <option value="2">Conces</option>
  </select>
</div>

<div class="nhsuk-form-group" >
  <div>
    <label class="nhsuk-label" for="Invoice ID">
      Invoice and drug reference number
    </label>
    <div class="nhsuk-hint" id="example-with-hint-text-hint">
      You can use this unique reference number to search and amend this entry after it has been saved. 
      <br>
      Format this unique reference number using the supplier's invoice number followed by a number. 
      <br>
      For example Supplierinvoice.001
    </div>
    <input class="nhsuk-input nhsuk-input--width-10" id="Invoice ID" name="Invoice ID" type="text" style="width: 300px;">
 
    <div class="nhsuk-checkboxes__item" style="display: flex; align-items: center; gap: 0.5rem; margin-top: 30px;">
    <input class="nhsuk-checkboxes__input" id="PI" name="PI" type="checkbox" value="PI">
    <label class="nhsuk-label nhsuk-checkboxes__label" for="PI">
      Is this drug a PI?
    </label>
  </div>
</div>

</div>

    <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="autocomplete-input">
                    Drug name
                  </label>
                  <input class="nhsuk-input nhsuk-u-width-one-half" id="autocomplete-input" name="Drug" type="text" autocomplete="off" list="Drug" placeholder="">
                  <ul class="nhsuk-list" id="suggestions-list" hidden></ul>
                </div>
                <datalist id="Drug">
                  <option value="Amlodipine 5 mg tablet"></option>
                  <option value="Amoxicillin 500 mg tablet"></option>
                  <option value="Atorvastatin 20 mg tablet"></option>
                  <option value="Cetirizine 10 mg tablet"></option>
                  <option value="Ibuprofen 400 mg tablet"></option>
                  <option value="Oxybutynin 5mg modified-release tablets"></option>
                  <option value="Paracetamol 500 mg tablet"></option>
                  <option value="Salbutamol 2 mg tablet "></option>
                </datalist>
    
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="Pack size">
                    Pack size
                  </label>
                  <div>
                    <input class="nhsuk-input nhsuk-input--width-5" id="Pack size" name="Pack size" type="text">
                     </div>
                </div>

    <div class="nhsuk-form-group">
      <p>  
        Brand name / Generic name 
      </p>
      <div class="nhsuk-checkboxes__item" style="top:-20px;">
        <input class="nhsuk-checkboxes__input" id="Brand-name-Generic-name" name="Brand-name-Generic-name" type="checkbox" value="email">
        
        <label class="nhsuk-label nhsuk-checkboxes__label" for="Brand-name-Generic-name"  aria-describedby="Brand-name-Generic-name">
          Brand name / Generic name 
        </label>
      </div>
        <div style="position:relative; left:53px; align-items: center; gap: 0.5rem; margin-top: -68px;">
        <input class="nhsuk-input nhsuk-u-width-one-half" id="Brand-name-Generic-name" name="Brand-name-Generic-name" type="text">
        
      </div>
     </div>
   
     <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="Number of packs">
        Number of packs
      </label>
      <div>
        <input class="nhsuk-input nhsuk-input--width-5" id="Number of packs" name="Number of packs" type="text">
       </div>
    </div>
   

    <div style="display: inline-block; margin-right: 10px;">
  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="price per pack">
      Price per pack
    </label>
    <div class="nhsuk-input__wrapper">
      <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
      <input class="nhsuk-input nhsuk-input--width-5" id="price per pack" name="price per pack" type="text">
    </div>
  </div>
</div>

<div style="display: inline-block; margin-right: 10px;">
  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="total-price">
      Total price
    </label>
    <div class="nhsuk-input__wrapper">
      <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
      <input class="nhsuk-input nhsuk-input--width-5" id="total-price" name="total-price" type="text">
    </div>
  </div>
</div>

<div style="display: inline-block; margin-right: 10px;">
  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="difference">
      Difference
    </label>
    <div class="nhsuk-input__wrapper">
      <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
      <input class="nhsuk-input nhsuk-input--width-5" id="difference" name="difference" type="text">
    </div>
  </div>
</div>

<div style="display: inline-block;">
  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="check-total">
      Check total
    </label>
    <div class="nhsuk-input__wrapper">
      <div class="nhsuk-input__prefix" aria-hidden="check-total">£</div>
      <input class="nhsuk-input nhsuk-input--width-5" id="check-total" name="check-total" type="text">
    </div>
  </div>
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="autocomplete-input 2">
    Generic Manufacturer
  </label>
  <input class="nhsuk-input nhsuk-u-width-one-half" id="autocomplete-input 2" name="Generic Manufacturer" type="text" autocomplete="off" list="Generic Manufacturer" placeholder="">
  <ul class="nhsuk-list" id="suggestions-list" hidden></ul>
</div>
<datalist id="Generic Manufacturer">
  <option value="AbbVie"></option>
  <option value="Bristol-Myers Squibb"></option>
  <option value="GSK"></option>
  <option value="Johnson & Johnson Company"></option>
</datalist>


<p><a href="" type="button" onclick="clearFields()">Clear all fields</a></p>

</form>


   <script>
    function clearFields() {
        document.getElementById('myForm').reset();
    }
</script>
  

           
                            <div class="nhsuk-form-group" style="padding-left: 00px; padding-top: 10px;">
                            <a href="drug-input" class="nhsuk-button">Save and add another drug</a> 
                            <a href="continue" class="nhsuk-button nhsuk-button--secondary" >Save and back to suppliers</a>
                            <a href="delete" class="nhsuk-button nhsuk-button--warning">Delete drug</a>
                          </div>


                          <div class="nhsuk-form-group" style="margin-top: -20px;">
                            <label class="nhsuk-label" for="page">
                              Page of 143
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-5" id="page" name="page" type="text" value="143">
                            <a href="drug-input-continue" style="margin-left: 10px; font-size: 18px;">Go to page</a>
                          </div>
                          

                         
                          </div>
     
                        </div>

</div>


{% endblock %}
