<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v5c.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <div class="nhsuk-grid-row-full">
      <div class="nhsuk-width-container-full">


      
      <!-- Change the page title here -->
      <h1>
        
        Access your account
      </h1>
    

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p>
        Log in to your Margin Survey account to access services online on your computer, tablet or mobile phone. You do not need to download anything.
      </p>

      <p>Get access to:
        <ul>
          <li>Margin Survey</li>
          <li>Retrospective</li>
          <li>Scanned image task</li>
          <li>Pharmacies and drug list</li>
          <li>Statistical information</li>
          <li>Audit information</li>
        </ul>
      </p>

      <a href="access-2" class="nhsuk-button">Log in</a>
      
      <span id="council-hint" class="nhsuk-hint">
        This needs to be the precise name of the trust. If you are not sure what this is, <a href="">check the correct name in the NHS Trusts etr file on the NHS Digital website.</a> 
      </span>
      <input
        id="council"
        name="council"
        class="nhsuk-input"
        list="trusts"
        aria-describedby="council-hint"
        placeholder="Find a trust"
      />
      <datalist id="trusts">
        <option value="Gateshead Health NHS Foundation Trust"></option>
        <option value="Newcastle upon Tyne NHS Foundation Trust"></option>
        <option value="Sunderland Teaching NHS Foundation Trust"></option>
      </datalist>
    </div>
    
    
      

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Need help with log in?
          </span>
        </summary>
        <div class="nhsuk-details__text">
         
          <p>Contact the helpdesk on 0300 123 2344 or via email at marginsurvey@nhs.net for help.</p>
          
      
        </div>
      </details>
     
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
