<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
New Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-width-container-fluid">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="home-page">Home</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="margin-survey-menu">Margin survey menu</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="margin-task-menu">Select a task</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="margin-continue">Select an account</a></li>
         
        </ol>
      </div>
    </nav>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
      <h3>
        
       Information input
      </h3>
      
     <div class="nhsuk-card-group">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-5">
          Main ID
        </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
        
      </div>

    

      <div class="nhsuk-form-group" style="padding-left:40px;">
        <label class="nhsuk-label" for="select-1">
          Owner name
        </label>
        <select class="nhsuk-select" id="select-1" name="select-1" style="width:400px">
          <option value="1">AAA Pharmacy</option>
          <option value="2">Classic Compounds Care</option>
          <option value="3" selected>General Health Pharmacy</option>
          <option value="4">Health Hub Pharmacy</option>
          <option value="5">Miracle Medicines Pharmacy</option>
          <option value="6">Old-Fashioned Pharmacy</option>
        </select>
      </div>
    </div>
      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      
        <hr>
          

              <h3>Supplier information</h3>
            
              <div class="nhsuk-form-group" >
                <div class="nhsuk-form-group" >
                  <label class="nhsuk-label" for="select-1">
                    Supplier name
                  </label>
                  <select class="nhsuk-select" id="select-1" name="select-1" style="width:400px">
                    <option value="1" selected>Select or enter a supplier name</option>
                    <option value="2">Altera Digital Health</option>
                    <option value="3">Dedalusd</option>
                    <option value="4">MEDITECH UK</option>
                    <option value="5">Oracle Corporation UK Ltd</option>
                    <option value="6">Nervecentre Software Ltd</option>
                  </select>
                </div>
              </div>
               
                <br>

                <div class="nhsuk-card-group" >
                  
                     
                  <div class="nhsuk-form-group" style="padding-left:0px; padding-top:31px;">
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1" >
                        Statement provided
                      </label>
                    </div>
                    </div>

                  <div class="nhsuk-form-group" style="width: 300px; padding-left: 40px;">
                    <label class="nhsuk-label" for="input-width-10">
                      Statement total amount
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-15" id="input-width-15" name="test-width-15" type="text">
                  </div>
                
                   </div>
  

                  <details class="nhsuk-details">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        Click here to add comments
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="example">
                          Comments
                        </label>
                        <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint"></textarea>
                      </div>
                    </div>
                  </details>

                  <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                     
                     
                      <div class="nhsuk-date-input" id="example">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                              Page
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" id="example-day" name="example-day" type="text" pattern="[0-9]*" inputmode="numeric" value="1">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                              of
                            </label>
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                              
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric" value="10">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  
                  </div>

                 


           
                            <div class="nhsuk-form-group" style="padding-left: 00px; padding-top: 20px;">
                            <a href="" class="nhsuk-button nhsuk-button--secondary">First supplier</a>

                            <a href="" class="nhsuk-button nhsuk-button--secondary">Previous supplier</a>

                            <a href="" class="nhsuk-button">Next supplier</a>

                            <a href="" class="nhsuk-button">Last supplier</a>

                            <a href="margin-survey-drug-input-continue" class="nhsuk-button nhsuk-button--secondary">New drug</a>

                           
                          </div>

                         
                          </div>
     
                        </div>

</div>


{% endblock %}
