<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
New Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-width-container-fluid">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="home-page">Home</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="retro-menu">Retrospective menu</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="retro-task-menu">Select a task</a></li>
          
        </ol>
      </div>
    </nav>

   
      <h1>Information input</h1>
          <h3>Drug price information</h3>

          <div class="nhsuk-card-group">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="input-width-10">
                Invoice ID
              </label>
              <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
              
            </div>
      
          
      

        
          
        <div class="nhsuk-form-group" style="padding-left:40px;">
            <label class="nhsuk-label" for="select-1">
              Concession/Cat C
            </label>
            <select class="nhsuk-select" id="select-1" name="select-1" style="width:200px">
              <option value="1">Concession</option>
              <option value="2" selected>Cat C</option>
            </select>
          </div>
       
          <div class="nhsuk-form-group" style="padding-left:50px; padding-top:30px;">
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1" >
            Is this drug a PI?
          </label>
        </div>
       </div>
      </div>
      
        

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
            Is this a credit?
          </label>
        </div>
           </div>
           
           <br>
           <br>
          
           <div class="nhsuk-card-group">
            <div class="nhsuk-form-group" style="padding-left: 30px;">
              <div class="nhsuk-form-group" style="padding-left:0px;">
                <label class="nhsuk-label" for="select-1">
                  Drug name
                </label>
                <select class="nhsuk-select" id="select-1" name="select-1" style="width:400px">
                  <option value="1" selected>Select or enter a drug name</option>
                  <option value="2">Oxybutynin 5mg modified-release tablets</option>
                  <option value="3">Oxybutynin 5mg modified-release tablets</option>
                  <option value="4">Oxybutynin 5mg modified-release tablets</option>
                  <option value="5">Oxybutynin 5mg modified-release tablets</option>
                  <option value="6">Oxybutynin 5mg modified-release tablets</option>
                </select>
              </div>
              
            </div>
      
           
          </div>
            <div class="nhsuk-card-group">
              <div class="nhsuk-form-group" style="padding-left: 30px;">
                <div class="nhsuk-form-group" style="padding-left:0px;">
                  <label class="nhsuk-label" for="select-1">
                    Generic Manufacturer
                  </label>
                  <select class="nhsuk-select" id="select-1" name="select-1" style="width:400px">
                    <option value="1" selected>Select or enter a manufacturer</option>
                    <option value="2">Oxybutynin 5mg modified-release tablets</option>
                    <option value="3">Oxybutynin 5mg modified-release tablets</option>
                    <option value="4">Oxybutynin 5mg modified-release tablets</option>
                    <option value="5">Oxybutynin 5mg modified-release tablets</option>
                    <option value="6">Oxybutynin 5mg modified-release tablets</option>
                  </select>
                </div>
              </div>
            
            </div>
          
                <div class="nhsuk-card-group">
                  <div class="nhsuk-form-group" style="padding-left: 30px;">
                    <label class="nhsuk-label" for="input-width-5">
                      Pack size
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-5" id="input-width-5" name="test-width-5" type="text">
                  </div>
                  </div>

                  <div class="nhsuk-card-group" >

                    <div class="nhsuk-form-group" style="width: 350px; padding-left: 30px;"">
                      <label class="nhsuk-label" for="input-width-15">
                        Brand name / Generic name
                      </label>
                      <input class="nhsuk-input nhsuk-input--width-15" id="input-width-15" name="test-width-15" type="text">
                    </div>

                    
                    
                     
                    <div class="nhsuk-form-group" style="padding-left:50px; padding-top:31px;">
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1" >
                          
                        </label>
                      </div>
                     </div>
                     </div>

                     <div class="nhsuk-card-group">
                      <div class="nhsuk-form-group" style="padding-left: 30px;">
                        <label class="nhsuk-label" for="input-width-5">
                          Number of packs
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-5" id="input-width-5" name="test-width-5" type="text">
                      </div>
                      
                  

                      
                        <div class="nhsuk-form-group" style="width: 250px; padding-left: 50px;">
                          <label class="nhsuk-label" for="input-width-55">
                            Price per packs
                          </label>
                          <input class="nhsuk-input nhsuk-input--width-5" id="input-width-15" name="test-width-15" type="text">
                        </div>

                        
                        <div class="nhsuk-form-group" style="max-width: 250px; padding-right: 20px;">
                          <label class="nhsuk-label" for="input-width-5">
                            Total price for the drug
                          </label>
                          <input class="nhsuk-input nhsuk-input--width-5" id="input-width-15" name="test-width-15" type="text">
                        </div>

                        <div class="nhsuk-form-group" style="width: 300px; padding-left: 40px;">
                          <label class="nhsuk-label" for="input-width-5">
                            Difference
                          </label>
                          <input class="nhsuk-input nhsuk-input--width-5" id="input-width-15" name="test-width-15" type="text">
                        </div>
                        </div>

                        
                          <div class="nhsuk-form-group" style="width: 250px; padding-left:30px;">
                            <label class="nhsuk-label" for="input-width-5">
                              Check total
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-5" id="input-width-15" name="test-width-15" type="text">
                          </div>
                         
                     
                      
                      

                      
                      <div class="nhsuk-form-group">
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                        
                          <div class="nhsuk-date-input" id="example" style="padding-left:30px;">
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                  Page
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" id="example-day" name="example-day" type="text" pattern="[0-9]*" inputmode="numeric" value="1">
                              </div>
                            </div>

                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                  of
                                </label>
                                </div>
                            </div>

                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                  
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric" value="16">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                   <br>
                      
                        <div class="nhsuk-form-group" style="padding-left:30px;">
                        <a href="" class="nhsuk-button nhsuk-button--secondary">First drug</a>

                        <a href="" class="nhsuk-button nhsuk-button--secondary">Previous drug</a>

                        <a href="" class="nhsuk-button">Next drug</a>

                        <a href="" class="nhsuk-button">Last drug</a>

                        <a href="retro-supplier-input" class="nhsuk-button nhsuk-button--secondary">New supplier</a>

                     
                       
                     
                    
                      </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



{% endblock %}
