<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v8.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
 
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../home-page">Home</a></li>
     <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../lists-dashboard">Lists management</a></li>
       <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="select-month-year">Select month/year</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Home
    </a>
  </p>
</nav>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-panel">
  <h1 class="nhsuk-panel__title">
    Acamprosate 333mg gastro-resistant tablets has been added to the list
  </h1>
</div>

    <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full">


      <!-- Change the page title here -->
      <span class="nhsuk-caption-xl">Drug list</span>
        <h1 class="nhsuk-heading-xl">January 2025 to March 2025</h1>


        <h2 class="nhsuk-heading-m">Drug list (986)</h2>

      

        <div class="nhsuk-form-group ">
        <label class="nhsuk-label" for="autocomplete-supplier">
            Search a drug name
        </label>

        <div class="input-button-wrapper">
            <input class="nhsuk-input nhsuk-u-width-one-third" id="autocomplete-supplier" name="supplier" type="text" autocomplete="off" list="supplier" placeholder="Search here">
            
            <a href="" class="nhsuk-button" style="margin-top:-8px ;">Search</a>
        </div>

        <ul class="nhsuk-list" id="supplier-list" hidden></ul>
        </div>

        <datalist id="supplier">
        <option value="Amlodipine 5mg tablets - For hypertension"></option>
        <option value="Citalopram 20mg tablets - Another antidepressant"></option>
        <option value="Oxybutynin 5mg modified-release tablets"></option>
        </datalist>


      <p class="nhsuk-body"><a href="add-drug">Add drug to the list</a></p>
<br>
        <table class="nhsuk-table">
           <caption class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal nhsuk-u-padding-bottom-2">
            This table shows the whole drug lists that was uploaded for January 2025 to March 2025.
            </caption>
        <thead class="nhsuk-table__head">
            <tr>
            <th scope="col" class="nhsuk-table__header">Drug name</th>
            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Concession/Cat C</th>
            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">SNOMED code</th>
            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Action</th>
            </tr>
        </thead>
        <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Amlodipine 5mg tablets - For hypertension</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="edit-drug">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Citalopram 20mg tablets - Another antidepressant</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Oxybutynin 5mg modified-release tablets</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Acamprosate 333mg gastro-resistant tablets</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Abasaglar KwikPen 100units/ml inj 3ml pre-filled pen</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Amlodipine 5mg tablets - For hypertension</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Amoxicillin 3g oral powder sachets sugar free</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Citalopram 20mg tablets - Another antidepressant</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Daktarin 2% cream</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Dantrium 100mg capsules</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Equasym XL 10mg capsules</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Espranor 2mg oral lyophilisates</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Flucloxacillin 250mg capsules</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">GlucoGel 40% gel original</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Hydrocortisone 10mg tablets</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Hydroxychloroquine 200mg tablets</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Invokana 100mg tablets</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Irbesartan 300mg tablets</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Jardiance 25mg tablets</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Katya 30/75 tablets</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Kelhale 100micrograms/dose inhaler</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Ketoconazole 2% shampoo</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Loperamide 2mg capsules</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Lorazepam 1mg tablets</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Maxalt Melt 10mg oral lyophilisates</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Mebeverine 135mg tablets</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Nefopam 30mg tablets</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Neocate LCP powder</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">Oxybutynin 5mg modified-release tablets</th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CAT C</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">256764789</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">Edit</a> | <a href="remove-drug">Remove</a></td>
            </tr>
        </tbody>
        </table>

        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">           
            <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
                <span class="nhsuk-pagination__title">Next</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Page 2</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                </svg>
            </a>
            </li>
        </ul>
        </nav>
        <!-- End of content -->
    </div>
  </div>
{% endblock %}
