<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
  }) }}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

    <br>
      
    
      
      <!-- Change the page title here -->
     <span class="nhsuk-caption-xl">January 2025</span>
      <h1 class="nhsuk-heading-xl">Margin survey checking dashboard</h1>
    

       

      <p>This table lists all this months margin survey accounts that have been marked as complete. These accounts are now ready to be checked. </p>


      <p>3 out of 10 margin survey checks have been completed</p>

      <ul class="nhsuk-task-list">

        <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
          <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link" href="completed" aria-describedby="your-health-1-status">Alpha Pharmacy</a>
            <div id="your-health-3-hint" class="nhsuk-task-list__hint">FTY729 , Last updated by Jane Doe , 4 January 2025 12:09</div>
          </div>
          <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="your-health-2-status">Completed</div>
          </li>
      
        <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
          <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link" href="#" aria-describedby="your-health-2-status">Apex Pharmacy</a>
            <div id="your-health-3-hint" class="nhsuk-task-list__hint">FTY523 , Last updated by Jane Doe , 19 January 2025 14:11</div>
          </div>
          <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="your-health-2-status">Completed</div>
        </li>
      
        <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
          <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link" href="#" aria-describedby="your-health-3-hint your-health-3-status">Better Health Pharmacy</a>
            <div id="your-health-3-hint" class="nhsuk-task-list__hint">FTY330 , Last updated by John Smith , 18 December 2024 10:03</div>
          </div>
          <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="your-health-2-status">Completed</div>
        </li>
      
        <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
          <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link" href="#" aria-describedby="your-health-4-status">Care Plus Pharmacy</a></div>
          <div class="nhsuk-task-list__status" id="your-health-4-status"><strong class="nhsuk-tag nhsuk-tag--blue">
              Not started
            </strong></div>
        </li>
      
        <li class="nhsuk-task-list__item">
          <div class="nhsuk-task-list__name-and-hint">
            <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link" href="#" aria-describedby="your-health-4-status">Community Pharmacy</a></div>
          </div>
          <div class="nhsuk-task-list__status" id="your-health-4-status"><strong class="nhsuk-tag nhsuk-tag--blue">
            Not started
          </strong></div>
           </li>

           <li class="nhsuk-task-list__item">
            <div class="nhsuk-task-list__name-and-hint">
              <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link" href="#" aria-describedby="your-health-4-status">Essential Pharmacy</a></div>
            </div>
            <div class="nhsuk-task-list__status" id="your-health-4-status"><strong class="nhsuk-tag nhsuk-tag--blue">
              Not started
            </strong></div>
             </li>

             <li class="nhsuk-task-list__item">
              <div class="nhsuk-task-list__name-and-hint">
                <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link" href="#" aria-describedby="your-health-4-status">Evergreen Pharmacy</a></div>
              </div>
              <div class="nhsuk-task-list__status" id="your-health-4-status"><strong class="nhsuk-tag nhsuk-tag--blue">
                Not started
              </strong></div>
               </li>

               <li class="nhsuk-task-list__item">
                <div class="nhsuk-task-list__name-and-hint">
                  <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link" href="#" aria-describedby="your-health-4-status">Family Health Pharmacy</a></div>
                </div>
                <div class="nhsuk-task-list__status" id="your-health-4-status"><strong class="nhsuk-tag nhsuk-tag--blue">
                  Not started
                </strong></div>
                 </li>

                 <li class="nhsuk-task-list__item">
                  <div class="nhsuk-task-list__name-and-hint">
                    <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link" href="#" aria-describedby="your-health-4-status">First Choice Pharmacy</a></div>
                  </div>
                  <div class="nhsuk-task-list__status" id="your-health-4-status"><strong class="nhsuk-tag nhsuk-tag--blue">
                    Not started
                  </strong></div>
                   </li>

                   <li class="nhsuk-task-list__item">
                    <div class="nhsuk-task-list__name-and-hint">
                      <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link" href="#" aria-describedby="your-health-4-status">General Care Pharmacy</a></div>
                    </div>
                    <div class="nhsuk-task-list__status" id="your-health-4-status"><strong class="nhsuk-tag nhsuk-tag--blue">
                      Not started
                    </strong></div>
                     </li>

                     
  
      
      </ul>
      <a href="../home-page" class="nhsuk-button nhsuk-button--secondary">Back to select a database task</a>

    </div>
  </div>
{% endblock %}
