<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v8.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      
      <!-- Change the page title here -->
      <span class="nhsuk-caption-xl">June 2025 - Margin Survey</span>
      <h1 class="nhsuk-heading-xl">Document viewer</h1>
   
      
                                <a href="" class="nhsuk-button nhsuk-button--secondary">Go to last page of the statement</a> 
                         


  <style>
    .image-container {
      position: relative;
      display: inline-block;
    }

    .image-container img {
      display: block;
      width: 1000px;
    }

    
  </style>

  <div class="image-container">
    <img src="/images/supplier-2.jpg" alt="User icon">
  </div>

<div class="image-container">
    <img src="/images/supplier-1.png" alt="User icon">
  </div>
           <br>
           <br>

                        
                      
 <div class="nhsuk-form-group" style="padding-left: 00px; padding-top: 10px;">
                            <a href="" class="nhsuk-button">Refresh image</a> 
                          </div>


                     
      
    </div>
  </div>

{% endblock %}
