<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v9.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../home-page">Home</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../margin-survey-phase2/select-month-year">Select month and year</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../margin-survey-phase2/menu">Margin survey dashboard</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../margin-survey-phase2/continue-complete">Pharmacy details</a></li>
    
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Home
    </a>
  </p>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

    <form id="myForm">
      <!-- Change the page title here -->
      <span class="nhsuk-caption-xl">June 2025 - Margin Survey</span>
      <h1 class="nhsuk-heading-xl">Edit a supplier to Alpha Pharmacy</h1>
    
     <div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="supplier-image-2" target="_blank">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">View sample statement from this supplier (opens in a new tab)</span>
  </a>
</div>  
      <br>
    <!-- auto complete 
     
    <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="autocomplete-input">
                    Select supplier
                  </label>
                  <input class="nhsuk-input nhsuk-u-width-one-half" id="autocomplete-input" name="service-search" type="text" autocomplete="off" list="trusts" placeholder="Select or enter a supplier">
                  <ul class="nhsuk-list" id="suggestions-list" hidden></ul>
                </div>
                <datalist id="trusts">
                  <option value="Altera Digital Health"></option>
                  <option value="Dedalusd"></option>
                  <option value="Meditech UK"></option>
                  <option value="Oracle Corporation UK Ltd"></option>
                  <option value="Nervecentre Software Ltd"></option>
                </datalist>

              -->
              
              
             <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="supplier">
                  Enter supplier name
                </label>
                <select class="nhsuk-select nhsuk-u-width-one-half" id="supplier" name="supplier">
                  <option value="Select">Select a supplier</option>
                  <option value="Altera Digital Health"selected>Altera Digital Health</option>
                <option value="Dedalusd">Dedalusd</option>
                <option value="Meditech UK">Meditech UK</option>
                <option value="Oracle Corporation UK Ltd">Oracle Corporation UK Ltd</option>
                <option value="Nervecentre Software Ltd">Nervecentre Software Ltd</option>
                </select>
              </div>


                <div class="nhsuk-card-group" >
                  
                     
                  <div class="nhsuk-form-group" style="padding-left:0px; padding-top:31px;">
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="Statement" name="Statement" type="checkbox" value="Statement" checked>
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="Statement" >
                        Statement provided (Optional)
                           
                      </label>
                    </div>
                    </div>
                   </div>
                  
                  <div class="nhsuk-form-group">
                     <label class="nhsuk-label" for="total">
                     Statement total amount (optional)
                     <div class="nhsuk-hint" id="total-hint">
                      For example, £600 or £192.01
                    </div>
                    </label>
                    <div class="nhsuk-input__wrapper">
                  
                      <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
                  
                      <input class="nhsuk-input nhsuk-input--width-5" id="total" name="total" type="text" value="62383.54">
                    </div>
                  
                  </div>


                 

                            <div class="nhsuk-form-group" style="padding-left: 00px; padding-top: 20px;">
                            <a href="supplier-input-continue-confirmed" class="nhsuk-button">Update supplier</a> 
                            <a href="" class="nhsuk-button nhsuk-button--secondary">Revert to original data </a>
                             </div>
 </form>
           
                          </div>
     
                        </div>

</div>


{% endblock %}
