<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v8.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      
      <!-- Change the page title here -->
      <span class="nhsuk-caption-xl">June 2025 - Margin Survey</span>
      <h1 class="nhsuk-heading-xl">Document viewer</h1>
 <h2 class="nhsuk-heading-m">Invoice 2</h1>
   

  <style>
    .image-container {
      position: relative;
      display: inline-block;
    }

    .image-container img {
      display: block;
      width: 1000px;
    }

    .highlight-text {
      position: absolute;
      background-color: hsla(54, 100%, 50%, 0.547); /* Semi-transparent red */
      padding: 10px 460px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
    }

    /* Position each word where you need it */
    .word1 {
      top: 505px;
      left: 50px;
    }

  </style>

  <div class="image-container">
    <img src="/images/supplier.png" alt="source">
    <span class="highlight-text word1"></span>
  </div>

           <br>
           <br>

                            <div class="nhsuk-form-group" style="padding-left: 00px; padding-top: 10px;">
                            <a href="" class="nhsuk-button">Refresh image</a> 
                          </div>

                      


                     
      
    </div>
  </div>

{% endblock %}
