<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
New Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="home-page">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="menu-pharmacy-and-drug">Pharmacy list and drug list</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="pharmacy-list-menu">Pharmacy list menu</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="pharmacy-list">Pharmacy list</a></li>
      
    </ol>
  </div>
</nav>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-width-container-full">


      
      <!-- Change the page title here -->
      <h1>
       
       Edit other details
      </h1>

      

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="select-1">
    Status
  </label>
  <select class="nhsuk-select" id="select-1" name="select-1">
    <option value="1">First letter sent</option>
    <option value="2">Follow up called</option>
    <option value="3">invoices arrived</option>
    <option value="4">Margin survey</option>
    <option value="5">Retro</option>
    <option value="6" selected>Completed</option>
  </select>
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="input-width-10">
    TNT shipment number
  </label>
  <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text" value="FHV123497785GH">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="input-width-20">
    Date invoices arrived
  </label>
  <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text" value="10 November 2023">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="input-width-20">
    Date invoices returned
  </label>
  <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text" value="13 December 2023">
</div>
     
<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="input-width-20">
    Ongoing
  </label>
  <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text" value="Dianna Green">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="input-width-20">
    Checked
  </label>
  <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text" value="Lee Jones">
</div>

<a href="pharmacy-detail" class="nhsuk-button">Save</a>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
