<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v6.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../home-page">Home</a></li>
     <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../lists-dashboard">Manage lists</a></li>
       <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="pharmacy-list">Select month/year</a></li>
       <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="pharmacy-list-whole">Pharmacy list for April to June 2025</a></li>
       <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="generate-sample">Generate sample</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Home
    </a>
  </p>
</nav>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




<div class="nhsuk-grid-row">

  
<div class="nhsuk-grid-column-full">
  

      
      <!-- Change the page title here -->
       <span class="nhsuk-caption-xl">Pharmacy list</span>
<h1 class="nhsuk-heading-xl">Pharmacies for May 2025</h1>
    
<div class="nhsuk-warning-callout">
  <h2 class="nhsuk-warning-callout__label"> <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      Follow up call is due for 4 pharamcies
    </span> </h2>
  <p>Check Aim Health Pharmacy, CarePlus Pharmacy, Greenlight Pharmacy and BlueLeaf Rx Pharmacy for follow up call. Alert will be removed when status changes.</p>
</div>

<h2 class="nhsuk-heading-m">Generated list</h2>


<p class="nhsuk-body">Confirm final sample for selected survey period</p>

<p class="nhsuk-body">List can be downloaded to your device as a csv files.</p>


 <a href="confirm-list-may" class="nhsuk-button" >Confirm final sample</a>
 <a href="" class="nhsuk-button nhsuk-button--secondary" >Export list (CSV)</a>
 <br>
 <br>

<h3 class="nhsuk-heading-m">List of the 25 pharmacies</h2>
        <table class="nhsuk-table">
           <caption class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal nhsuk-u-padding-bottom-2"><span aria-hidden="This table shows the generated lists.">
  
</caption>


 <thead class="nhsuk-table__head">
    <tr>
      <th scope="col" class="nhsuk-table__header">Trading name</th>  
      <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Pharamcy Postcode</th> 
     <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">ODC (Org code)</th>
        <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">DHID</th>
            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Participating</th>
      <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Previous participation</th>
            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Status</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header"><a href="pharmacy-details-may">Anchor Health Pharmacy</a></th>
     <td class="nhsuk-table__cell nhsuk-table__cell--numeric">NA13 4FG</td> 
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">RFA1</td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">4434</td>
     <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
       <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric"> <strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong>
</td>
    </tr>
  </tbody>

  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header"><a href="">Aim Health Pharmacy</a></th>
     <td class="nhsuk-table__cell nhsuk-table__cell--numeric">NE11 8DG</td> 
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">EFP1</td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">4004</td>
     <td class="nhsuk-table__cell nhsuk-table__cell--numeric"></td>
       <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric"> <strong class="nhsuk-tag nhsuk-tag--pink">
 Letter sent</strong>
</td>
    </tr>
  </tbody>
   
  <tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Wellcare Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">AB12 3CD</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">WCP1</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1001</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Greenlight Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">BA45 6EF</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">GLP2</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1002</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"></td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--pink">
 Letter sent</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">CarePlus Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CB78 9GH</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CPP3</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1003</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"></td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--pink">
 Letter sent</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Health First Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">DE23 1KL</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">HFP4</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1004</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Unity Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">EJ34 2MN</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">UPH5</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1005</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header"><a href="">BlueLeaf Rx</a></th>
     <td class="nhsuk-table__cell nhsuk-table__cell--numeric">NE11 8DG</td> 
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">EFP1</td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">4004</td>
     <td class="nhsuk-table__cell nhsuk-table__cell--numeric"></td>
       <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric"> <strong class="nhsuk-tag nhsuk-tag--pink">
 Letter sent</strong>
</td>
    </tr>
  </tbody>
   
  <tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Wellcare Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">AB12 3CD</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">WCP1</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1001</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Greenlight Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">BA45 6EF</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">GLP2</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1002</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">CarePlus Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CB78 9GH</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CPP3</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1003</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Health First Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">DE23 1KL</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">HFP4</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1004</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Unity Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">EJ34 2MN</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">UPH5</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1005</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header"><a href="">Aim Health Pharmacy</a></th>
     <td class="nhsuk-table__cell nhsuk-table__cell--numeric">NE11 8DG</td> 
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">EFP1</td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">4004</td>
     <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
       <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric"> <strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong>
</td>
    </tr>
  </tbody>
   
  <tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Wellcare Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">AB12 3CD</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">WCP1</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1001</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Greenlight Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">BA45 6EF</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">GLP2</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1002</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">CarePlus Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CB78 9GH</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CPP3</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1003</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Health First Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">DE23 1KL</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">HFP4</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1004</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Unity Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">EJ34 2MN</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">UPH5</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1005</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>
<tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header"><a href="">Aim Health Pharmacy</a></th>
     <td class="nhsuk-table__cell nhsuk-table__cell--numeric">NE11 8DG</td> 
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">EFP1</td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">4004</td>
     <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
       <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric"> <strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong>
</td>
    </tr>
  </tbody>
   
  <tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Wellcare Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">AB12 3CD</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">WCP1</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1001</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Greenlight Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">BA45 6EF</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">GLP2</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1002</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">CarePlus Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CB78 9GH</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">CPP3</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1003</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Health First Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">DE23 1KL</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">HFP4</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1004</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>

<tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <th scope="row" class="nhsuk-table__header"><a href="">Unity Pharmacy</a></th>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">EJ34 2MN</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">UPH5</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1005</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">No</td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><strong class="nhsuk-tag nhsuk-tag--blue">
 Collection arranged</strong></td>
  </tr>
</tbody>
  
</table>

      
<br>      <!-- End of content -->

    </div>
  </div>
{% endblock %}
