<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v7.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
 
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../home-page">Home</a></li>
     <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../lists-dashboard">Manage lists</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Home
    </a>
  </p>
</nav>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




<div class="nhsuk-grid-row">

  
<div class="nhsuk-grid-column-full">
  

      
      <!-- Change the page title here -->
       
<h1 class="nhsuk-heading-xl">Upload and manage pharmacy lists</h1>

  <h2 class="nhsuk-heading-m">Upload list</h2>

<p class="nhsuk-body">You can upload the pharmacy list by clicking on the button below</p>


 <a href="upload-list" class="nhsuk-button" > Upload list</a>

  <br>
  <br>
   
         <h2 class="nhsuk-heading-m">All pharmacy lists uploaded</h2>


        <table class="nhsuk-table">
           <caption class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal nhsuk-u-padding-bottom-2">
 <span aria-hidden=" This table shows all previously uploaded lists."></span>
</caption>
        <thead class="nhsuk-table__head">
            <tr>
            <th scope="col" class="nhsuk-table__header">From</th>
            <th scope="col" class="nhsuk-table__header">To</th>
            <th scope="col" class="nhsuk-table__header">Date uploaded</th>
            <th scope="col" class="nhsuk-table__header">Uploaded by</th>
           
            <th scope="col" class="nhsuk-table__header">Actions</th>
            </tr>
        </thead>
           <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">April 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">June 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">11 March 2025 10:14</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Ross Geller</td>
           
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="pharmacy-list-whole">View</a>
            </td>
            </tr>
        </tbody>

        <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">January 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">March 2025</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">11 December 2024 13:34</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Ross Geller</td>
          
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="">View</a>
            </td>
            </tr>
        </tbody>

           <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">October 2024</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">December 2024</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">11 September 2024 13:09</td>
            <td class="nhsuk-table__cell nhsuk-u-text-break-word">Monica Johnson</td>
           
            <td class="nhsuk-table__cell nhsuk-u-text-break-word"><a href="">View</a>
            </td>
            </tr>
        </tbody>

        </table>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
