<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Drug Purchase Price Database (Margin Survey)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      
      <!-- Change the page title here -->
      <h1>
        NHS Margin Survey Service
       
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      
      <hr>

      <h3>Version 1 - 22 Dec 2023</h3>

      <p>First prototype has created..</p>

         <p> <a href="v1/access">Version 1</a></p>
        

         <hr>

         <h3>Version 2 - 10 Jan 2024</h3>

         <p>Changed the journey in pharmacy list.</p>

         <p>Changed the layout of information input.</p>
   
            <p> <a href="v2/access">Version 2</a></p>
           
            <hr>

            <h3>Version 3 (MVP) - 28 Jan 2025</h3>
   
            <p>MVP version - more simple and mostly manual journey</p>
      
               <p> <a href="v3/access">Version 3 (MVP)</a></p>

               <hr>

               <h3>Version 4 (MVP) - 21 May 2025</h3>
   
            <p>MVP version</p>
            <ul>
              <li>Remove the blurb about invoice and drug reference number</li>
              <li>Accessibility problem with brand name/Generic name:
Check box is optional. If it is checked then the mandatory field "Enter brand name or generic name" will appear.</li>
              <li>Clear all fields - to be placed under the buttons.</li>
              <li>Delete button to appear only if editing or viewing drug. Not if initially creating drug.</li>
              <li>Add banner after deleted drugs</li>
              <li>Add a page to ask "Yes" and "No" when complete account</li>
            </ul>
      
               <p> <a href="v4/access">Version 4 (MVP)</a></p>

                <hr>

               <h3>Version 5 (MVP) - 19 June 2025</h3>
   
            <p>MVP version</p>
            <ul>
              <li>User can be able to download the daily and monthly reports from the Margin Survey Dashboard with "Details" component</li>
               <li>Additional screens for daily reports to download</li>
               <li>Additional screens for monthly reports to generate and download, user be able to see the past reports that has been generated</li>
              
            </ul>
      
               <p> <a href="v5/access">Version 5 (MVP)</a></p>

                 <hr>

               <h3>Version 6 (Phase 2) - 3 July 2025</h3>
   
            <p>Phase 2 version</p>
            <ul>
              <li>User can be able to download the reports from the Margin Survey Dashboard</li>
               <li>Select the month and year after selecting a task</li>
               <li>Retro journey has removed </li>
               <li>Combined OCR tecnology</li>
               
              
            </ul>
      
               <p> <a href="v6/access">Version 6 (Phase 2)</a></p>

               <hr>

                <h3>Version 7 (Phase 2) - 3 July 2025</h3>
   
            <p>Phase 2 version</p>
            <ul>
              <li>User needs to upload the pharamcy list with 900+ pharmacies and for the system to generate sample list in the system.</li>
             
              
            </ul>
      
               <p> <a href="v7/access">Version 7 (Phase 2)</a></p>
                <p> <a href="v7/lists-management/lists-dashboard">Pharamcy list generate samples</a></p>
              
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
